Debug
/Debug-Local/
/Debug-Unparallel/
/Debug-Parallel/
/Release/
/Release-SingleCore/
SD00125/result_dell.txt
ShakeTheBox/inc/libtiff/out/build/x64-Debug (default)/CMakeCache.txt
ShakeTheBox/inc/libtiff/out/build/x64-Debug (default)/tif_config.h
ShakeTheBox/inc/libtiff/out/build/x64-Debug (default)/tiffconf.h
ShakeTheBox/inc/libtiff/out/build/x64-Debug (default)/VSInheritEnvironments.txt
ShakeTheBox/inc/libtiff/out/build/x64-Debug (default)/.cmake/api/v1/query/client-MicrosoftVS/query.json
ShakeTheBox/inc/libtiff/out/build/x64-Debug (default)/CMakeFiles/cmake.check_cache
ShakeTheBox/inc/libtiff/out/build/x64-Debug (default)/CMakeFiles/CMakeOutput.log
ShakeTheBox/inc/libtiff/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CMakeCCompiler.cmake
ShakeTheBox/inc/libtiff/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CMakeCXXCompiler.cmake
ShakeTheBox/inc/libtiff/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_C.bin
ShakeTheBox/inc/libtiff/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
ShakeTheBox/inc/libtiff/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CMakeRCCompiler.cmake
ShakeTheBox/inc/libtiff/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CMakeSystem.cmake
ShakeTheBox/inc/libtiff/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.c
ShakeTheBox/inc/libtiff/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
ShakeTheBox/inc/libtiff/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
ShakeTheBox/inc/libtiff/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
ShakeTheBox/inc/libtiff/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
ShakeTheBox/inc/libtiff/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes/foo.h
ShakeTheBox/inc/libtiff/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes/main.c
ShakeTheBox/inc/libtiff/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes/main.obj
VisualStudio/ShakeTheBox/.vs/cmake.db
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/.suo
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/Browse.VC.db
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/Browse.VC.db-shm
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/Browse.VC.db-wal
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/Browse.VC.opendb
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/17f71a64291e3de1/BUBBLEIDENTIFIER.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/1aea66c3857043bf/NUMDATAIO.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/1c9bcbbac8f9b8cf/IMAGE.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/1cf05cddc5d3f9b5/BWCONNCOMP.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/1d7d0c9f54691beb/BUBBLEIDENTIFIER.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/1e8928754985cbe2/IMHIST.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/2479c74d9b7bb0f5/PREDICTIVEFIELD.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/28f209f4fcf259e4/REGIONPROPS.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/34d4ad18e4f05f4d/MATRIX.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/41605614ac8104f8/PARTICLEFINDER.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/428b73878d6a0623/CAMERA.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/42c43b6bb03f13b/TIFF2DFINDER.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/4fd999d1117794a6/CAMERA.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/53e1534e28efd3b1/CIRCLEIDENTIFIER.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/5691a386b448880e/BUBBLECENTERANDSIZEBYCIRCLE_RTWUTIL.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/6001e29fa51572cc/ARCHIVE_SERIALIZER_MAP.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/602ed167605166f9/CHCENTERS.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/62bd859b8007eabd/BUBBLECENTERANDSIZEBYCIRCLE_DATA.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/62f1c96e6bb9e05/CBWCONNCOMP.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/64a2567a1a53972a/BWCONNCOMP.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/6530993353839052/MATRIX.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/657e962991a114fe/NEIGHBORHOODPROCESSOR.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/6e79083dc01f5342/BUBBLEIDENTIFIER.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/6fbf5438128bf982/PARTICLEFINDER.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/7442ada2244b89e/BWCONNCOMP.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/7a5321c0475096e1/OTF.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/7bd06a1351221c61/BWCONNCOMP.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/7d65198aa7be8ab7/POSITION.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/8bffd766924b5c27/IPR.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/8daae564774f1e47/CIRCLEIDENTIFIER.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/909aa6cf8fcf2820/STB.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/94a4b55bbf742f92/BUBBLECENTERANDSIZE.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/96476467066f4148/OTF.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/9b837de8d295c8b1/IPR.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/a96356b3f99ad0af/FRAME.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/b0fcfe19a84b795d/SHAKING.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/b1a5598c6de4a04/PREDICTIVEFIELD.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/b6cee12cf29d4497/SHAKING.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/b6d0cc3753e5f47a/CPVGDFTRACKER.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/bdeb4ad168417c23/PREDICTIVEFIELD.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/bec09c8e4ea70395/REGIONPROPS.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/bf33a306ddb3d696/REGIONPROPS.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/c02b9aff22dbc39c/IMHIST.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/c65721d1537ec119/NUMDATAIO.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/cb0a8c30f48c17e9/STB.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/d0565efecf787f25/CREGIONPROPS.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/d12738ec2e635a2/IPR.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/dca861a8c29cbf22/CALIBRATION.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/dcdd814ce9b5c133/BACKSTB.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/df47a59f2198136f/CALIBRATION.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/e3c394ff566d1af1/REGIONPROPS.ipch
VisualStudio/ShakeTheBox/.vs/ShakeTheBox/v16/ipch/AutoPCH/e8fbb9a55e9c53f0/REGIONPROPS.ipch
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/BackSTB.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/BoundaryCheck.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/BubbleCenterAndSizeByCircle_data.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/BubbleCenterAndSizeByCircle_rtwutil.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/BubbleIdentifier.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/bwconncomp.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/Calibration.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/Camera.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/Cbwconncomp.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/chaccum.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/chcenters.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/chradii.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/CircleIdentifier.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/colon.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/conv2AXPY.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/CPVGDFTracker.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/Cregionprops.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/find.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/ForwardSTB.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/Frame.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/GDF.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/Image.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/imfilter.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/imhist.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/imhmax.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/IPR.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/Matrix.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/medfilt2.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/minOrMax.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/multithresh.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/NeighborhoodProcessor.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/nullAssignment.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/NumDataIO.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/OTF.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/ParticleFinder.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/Position.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/PredictiveField.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/regionprops.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/relop.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/rt_nonfinite.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/rtGetInf.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/rtGetNaN.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/ShakeTheBox.Build.CppClean.log
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/ShakeTheBox.exe.recipe
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/ShakeTheBox.iobj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/ShakeTheBox.ipdb
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/ShakeTheBox.log
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/ShakeTheBox.vcxproj.FileListAbsolute.txt
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/Shaking.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/sort.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/sortIdx.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/STB.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_aux.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_close.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_codec.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_color.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_compress.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_dir.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_dirinfo.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_dirread.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_dirwrite.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_dumpmode.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_error.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_extension.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_fax3.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_fax3sm.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_flush.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_getimage.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_jbig.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_jpeg.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_jpeg_12.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_luv.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_lzma.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_lzw.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_next.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_ojpeg.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_open.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_packbits.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_pixarlog.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_predict.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_print.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_read.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_stream.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_strip.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_swab.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_thunder.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_tile.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_unix.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_version.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_warning.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_write.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/tif_zip.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/Tiff2DFinder.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/Tiffload.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/Track.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/unique.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/vc142.pdb
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/vcpkg.applocal.log
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/WesleyanCPV.obj
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/ShakeTheBox.tlog/CL.command.1.tlog
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/ShakeTheBox.tlog/CL.read.1.tlog
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/ShakeTheBox.tlog/CL.write.1.tlog
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/ShakeTheBox.tlog/link.command.1.tlog
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/ShakeTheBox.tlog/link.read.1.tlog
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/ShakeTheBox.tlog/link.write.1.tlog
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/ShakeTheBox.tlog/ShakeTheBox.lastbuildstate
VisualStudio/ShakeTheBox/ShakeTheBox/x64/Release/ShakeTheBox.tlog/ShakeTheBox.write.1u.tlog
VisualStudio/ShakeTheBox/x64/Release/ShakeTheBox.exe
VisualStudio/ShakeTheBox/x64/Release/ShakeTheBox.pdb
